%div{class: 'attachments-fields js-attachments-fields',
     data: {'attached-files' => options[:attachments].to_json,
            'name-template' => options[:name_template],
            'max-size' => options[:max_size],
            'max-count' => options[:max_count],
            'permitted-types' => options[:permitted_types].to_json,
            'units-of-measure' => {KB: t('views.apress.amazon_assets.attachments_fields.units_of_measure.KB'),
                                   MB: t('views.apress.amazon_assets.attachments_fields.units_of_measure.MB'),
                                   byte: t('views.apress.amazon_assets.attachments_fields.units_of_measure.byte')}.to_json}}

  .attachments-fields-row
    .attachments-fields-link.js-attach-file{class: options[:attaching_disabled] && 'disabled'}
      .attachments-fields-icon.clip
      .attachments-fields-icon.clip-disabled
      = form.file_field '', name: options[:file_field_name],
                            class: 'attachments-fields-link-controller js-attach-file-button'
      .attachments-fields-link-text= t('views.apress.amazon_assets.attachments_fields.link.text')
    .attachments-fields-tips
      = t('views.apress.amazon_assets.attachments_fields.requirements.size',
          size: "#{options[:max_size]} #{t('views.apress.amazon_assets.attachments_fields.units_of_measure.MB')}")
      %br
      = t('views.apress.amazon_assets.attachments_fields.requirements.count', count: options[:max_count])

  .attachments-fields-row
    .js-attached-files
    .attachments-fields-errors.js-error-messages
      .attachments-fields-errors-item.js-error-message-format
        = t('views.apress.amazon_assets.attachments_fields.error_messages.format_is_invalid')
        %a.attachments-fields-icon.question.js-qtip-icon{data: {content: t('views.apress.amazon_assets.attachments_fields.requirements.format',
                                                                           count: options[:max_count])}}
      .attachments-fields-errors-item.js-error-message-size
        = t('views.apress.amazon_assets.attachments_fields.error_messages.size_is_invalid',
            size: "#{options[:max_size]} #{t('views.apress.amazon_assets.attachments_fields.units_of_measure.MB')}")
